language: node_js
cache:
  directories:
  - "~/.npm"
notifications:
  email: false
node_js:
- node
- '6'
env:
- NG_VERSION=4 TS_VERSION=2.3.4 MAT_VERSION=2.0.0-beta.12 CLI_VERSION=1.6.1 RX_VERSION=5.0.1
  RAMDA_VERSION=0.25.0 MOMENT_VERSION=2.19
- NG_VERSION=5 TS_VERSION=2.4.2 MAT_VERSION=5 CLI_VERSION=1.7.4 RX_VERSION=5.5.6 RAMDA_VERSION=0.25.0
  MOMENT_VERSION=2.19
before_install:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
install:
- npm install -g @angular/cli@${CLI_VERSION}
- npm install rxjs@${RX_VERSION} ramda@${RAMDA_VERSION} typescript@${TS_VERSION} moment@${MOMENT_VERSION}
- npm install @angular/common@${NG_VERSION} @angular/core@${NG_VERSION} @angular/forms@${NG_VERSION}
- npm install @angular/http@${NG_VERSION} @angular/platform-browser@${NG_VERSION}
  @angular/platform-browser-dynamic@${NG_VERSION}
- npm install @angular/compiler@${NG_VERSION} @angular/compiler-cli@${NG_VERSION}
- npm install @angular/animations@${NG_VERSION} @angular/cdk@${MAT_VERSION} @angular/material@${MAT_VERSION}
- npm install
script:
- npm run build
- npm run test:once
before_deploy:
- '{ sed -nE ''s/^[ \t]*"version": "([0-9]{1,}\.[0-9]{1,}\.)[0-9x]{1,}",$/\1/p'' package.json;
  git describe --abbrev=0 | sed -E ''s/^v([0-9]{1,}\.[0-9]{1,}\.)([0-9]{1,})$/\1 \2/g'';
  } | tr "\n" " " | awk ''{printf($1==$2?"v"$2$3+1:"v"$1$3")}'' | xargs -I {} git
  tag -a {} -m "{}"

'
- cd dist
deploy:
- provider: npm
  skip_cleanup: true
  email: tigredonorte3@gmail.com
  on:
    repo: gorilainvest/angular-date-format
    branch: master
  api_key:
    secure: QrexzUg7cl2saDRl5cb3ExM9c+T+VJoY1xHADRuZAm8Hxqr6Ko6gotPXiHGCt8gcF9GVRfOV0PzmnyMoSYQihbicMIvjmGmR6ihBjai1wvtiCK9YGOzkgu3rPqftplP+LDqJJtO10DqBUhzd0hC/zAxQa5+wx+KcUyUty56ZZqeTew04+Kba/rFAEMo5eQIhXwclyjgFuPkWU7er4dEuDoAd0Ir9q4dh6X2S+FAn4HR3RRZwwmMo4zBa6XkfjMuRKunfkPwdWIuFD593tg/Mo1h19xNLBtZCzU9UdP3g0NKSBmAchGxjbdHdDD7pQvMuza1ogGXsmDnVkpFRkNEh7EiTvUoo4ZAaVCzYjn2H97tMqACNagmyCsin7Dj6sDskEOb3oZVosv+P+H1oJXiV443Jx2udu1U0Ul4JhjmmSWMg+qdt9zGVHxBIKpGpoxxAleJaZGx9WJ9zoBRkJpJduWB9BO6VOxWD9rRK9ptDE6p8VSdsP8JDSVBj4Irc0uqo9tqdB9Fzh/PxRP8daWtLyZ0iwu00pZbs60xBXwWoIdFgHtQ1sokvA1UdP+IBP91ZcmY+UQGiYKzu3szi5sNE/F/H3sCXlxnSyVr87IIwrnMI5I4cHJcINfc3F2qjpzFK2w9r9V6dTirRJNgEHNN20VwN2zFbrujmpuaeHSz13qA=
